<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.backpack">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcherbpi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.backpack.View.Weather.WeatherHomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeToolbar"/>
        <activity
            android:name="com.example.backpack.View.Backpack.BackPackItemListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeToolbar"/>
        <activity
            android:name="com.example.backpack.View.Backpack.BackpackItemChooserActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeToolbar"/>
        <activity
            android:name="com.example.backpack.View.Backpack.BackpackListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeToolbar"/>
        <activity
            android:name="com.example.backpack.View.HomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeToolbar"
            />
        <activity
            android:name="com.example.backpack.View.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>